@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
}
.Menu {
  display: flex;
  margin: auto 0;
  justify-content: center;
  justify-content: space-around;
}
.sub-menu {
  display: flex;
  gap: 30;
}
.subMenu {
  display: flex;
  padding: 0px 6px;
}

.icons {
  display: flex;
  gap: 50;
}
.towel-background {
  display: flex;
}
.towel-image {
  border-radius: 100px;
  width: 100%;
}
.towel-text {
  padding-top: 50px;
  padding-left: 30px;
  background-color: pink;
  width: 100%;
  font-weight: bold;
}
.main .vector-icons {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 375px) and (max-width: 535px) {
  .Menu {
    display: block;
    text-align: center;
    justify-content: center;
  }
  .sub-menu {
    justify-content: center;
  }
  .icons {
    justify-content: center;
  }
  .towel-background {
    display: block;
  }
}
@media (max-width: 1000px) {
  .Menu {
    width: 100%;
  }
  .towel-background {
    display: block;
  }
}
