body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBar {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
li {
  list-style-type: none;
  display: inline;
  text-decoration: none !important;
  padding: 0 20px;
}
.lis {
  text-decoration: none;
  color: black;
}
.list {
  text-decoration: none;
}
.post {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
}
.post-image {
  height: 500px;
}
.post-input {
  width: 300px;
}
.post-input p {
  overflow: hidden;
}
.model-pics {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.model-pics img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
}
.model-p {
  display: none;
}
.model-p.hiddenContent {
  display: block;
}

@media (min-width: 375px) and (max-width: 792px) {
  .navBar {
    display: block;
    text-align: center;
    justify-content: center;
  }
  .logo {
    text-align: center;
    padding-top: 20px auto;
  }

  .post {
    display: block;
    margin: 0 auto;
    justify-content: center;
  }
  .post img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: auto;
  }
  .post-input {
    margin: 0 auto;
    justify-content: center;
  }
  .model-pics {
    display: block;
    width: auto;
  }
  .model-pics img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 496px) {
  .navBar li {
    margin-top: 40px;
  }
}

@media (width: 799px) {
  .model-pics img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1240px) {
  .model-pics img {
    height: 300px;
    width: 300px;
  }
}
